:root {
  --fonte: 'Open Sans', sans-serif;
  --branco: #FFFFFF;
  --branco-fumaca: #F4F4F4;
  --preto: #000000;
  --laranja: #EE8728;
  --laranja-claro: #FFD599;
  --cinza: #F4F4F4;
  --azul: #0188CC;
  --azul-claro: #BCE8F1;
  --azul-petroleo: #31708F;
  --azul-marinho: #00293D;
  --azul-pastel: #D9EDF7;
  --azul-vivido: #0088CD;
  --vermelho: #FF0000;
  --vermelho-claro: #FF6666;
  --verde: #008000;
  --verde-claro: #90EE90;
  --amarelo: #FFFF00;
  --amarelo-claro: #FFFFE0;
  --roxo: #800080;
  --roxo-claro: #D8BFD8;
  --rosa: #FFC0CB;
  --rosa-claro: #FFB6C1;
  --cinza-escuro: #A9A9A9;
  --cinza-medio: #C0C0C0;
  --cinza-claro: #D3D3D3;
  --marrom: #A52A2A;
  --marrom-loading: #FFF1E5;
  --marrom-spinner: #D58031;
  --bege: #F5F5DC;
  --turquesa: #40E0D0;
  --background-geral: #1E1E2E;
}

a {
  text-decoration: none;
  cursor: pointer;
}

body {
  margin: 0;
  font-family: var(--fonte);
  background-color: var(--background-geral);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.titulo-home {
  font-size: 3rem;
  font-weight: 800;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-image: linear-gradient(to bottom, #ffffff, #ffff);
  --tw-gradient-from: #ffffff;
  --tw-gradient-to: #ffff;
}